# General
*.log
*.tmp
*.pid
*.cache
*.lock

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.iml

# Node.js
node_modules/
package-lock.json
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Angular
dist/
out-tsc/
*.js
*.js.map
*.ngfactory.ts
*.ngsummary.json
*.scss.d.ts

# Flask
instance/
.flaskenv
.env

# Drools
target/
work/