# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Model files (large)
*.pkl
*.joblib

# Database
*.db
*.sqlite

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node modules (for Angular later)
node_modules/
dist/
